.das { background:#fff;  font-family: 'Arial', 'Helvetica', sans-serif; font-weight:400; font-size:13px; line-height:18px; color:#3b3b3b; margin:0px; padding: 0px; text-align: left; }

.das .clr { font-size:1px; line-height:1px; clear:both; }

/* DEFAULT RESET */
.das img, .das fieldset { border:none;  }
.das p, .das form, .das fieldset, .das ul, .das ol, .das li { margin:0px; padding:0px; }
.das h1, .das h2, .das h3, .das h4, .das h5, .das h6, .das h7, .das b, .das strong { margin:0px; padding:0px; background-repeat: no-repeat; font-weight:400; }
.das input, .das textarea { font-family: 'Arial', 'Helvetica', sans-serif; font-weight:400; font-size:13px; }
.das td { vertical-align: top; text-align: left; padding: 0px; }
.das li { background-repeat: no-repeat; }
.das a, .das *:focus { outline: none; }
.das button::-moz-focus-inner { border:0; padding:0; }

.das form { width:900px; }
.das form h2 { font-size:14px; font-weight:bold; }

.das .hidden { display:none !important; }
.das .disabled { background:#ddd; cursor:not-allowed; }

.das form .col { float:left; position:relative; }

.das form .col.colTop { background:#ddd; width:100%; margin-left:5px; margin-right:5px; padding-top:10px; padding-bottom:10px; position:relative; }
.das form .col.colTop p { padding-left:10px; display:inline; }
.das form .col.colTop input { width:100px; height:30px !important; font-size:16px; position:relative; left:10px; border-collapse:collapse; border:1px #ddd solid; padding-left:5px; }
.das form .col.colTop .lang { position:absolute; right:5px; top:5px; }
.das form .col.colTop .lang a { display:block; width:30px; height:20px; margin-bottom:5px; opacity:0.5; }
.das form .col.colTop .lang a.active { opacity:1; }
.das form .col.colTop .lang a.en { background:transparent url(../gfx/flag-en.png) 0px 0px no-repeat; }
.das form .col.colTop .lang a.cs { background:transparent url(../gfx/flag-cs.png) 0px 0px no-repeat; }



.das form .col.colLeft { width:300px; }
.das form .col.colLeft .formSection { border:1px #ddd solid; margin:5px; padding-bottom:10px; margin-bottom:10px; }
.das form .col.colLeft .formSection.scores { height:180px; }
.das form .col.colLeft .formSection.measures { /*height:180px;*/ }
.das form .col.colLeft .formSection h2 { display:block; background:#ccc; color:#fff; padding:5px; text-align:center; margin-bottom:2px; }
.das form .col.colLeft .formSection > p { padding:5px; }

.das form .col.colLeft .formSection .formRow { padding:5px; }

.das form .col.colLeft .formSection .formRow.formRowText { }
.das form .col.colLeft .formSection .formRow.formRowText p { float:left; width:100px; }
.das form .col.colLeft .formSection .formRow.formRowText p label { position:relative; top:2px; } 
.das form .col.colLeft .formSection .formRow.formRowText input { float:left; width:150px; height:20px; border-collapse:collapse; border:1px #ddd solid; padding-left:5px; }

.das form .col.colLeft .formSection .formRow.formRowRadioType1 { padding-left:100px; }

.das form .col.colLeft .formSection .formRow.formRowRadioType2 { }
.das form .col.colLeft .formSection .formRow.formRowRadioType2 p { float:left; width:80px; text-align:left; }
.das form .col.colLeft .formSection .formRow.formRowRadioType2 p label { position:relative; top:2px; } 
.das form .col.colLeft .formSection .formRow.formRowRadioType2 input.radio { float:left; margin-right:10px; }
.das form .col.colLeft .formSection .formRow.formRowRadioType2 input.txt { float:left; width:100px; height:20px; border-collapse:collapse; border:1px #ddd solid; padding-left:5px; margin-right:5px; }

.das form .col.colLeft .formSection .formRow.formRowSlider { border-top:1px #ddd solid; margin-top:5px; }
.das form .col.colLeft .formSection .formRow.formRowSlider input.check { float:left; margin-right:10px; }
.das form .col.colLeft .formSection .formRow.formRowSlider p { float:left; width:150px; }
.das form .col.colLeft .formSection .formRow.formRowSlider p label { position:relative; top:2px; } 
.das form .col.colLeft .formSection .formRow.formRowSlider input.txt { float:right; width:50px; height:20px; border-collapse:collapse; border:1px #ddd solid; padding-left:5px; }
.das form .col.colLeft .formSection .formRow.formRowSlider #slider { margin-top:20px; margin-left:10px; margin-right:10px; }
.das form .col.colLeft .formSection .formRow.formRowSlider .left { font-size:12px; float:left; margin-left:10px; position:relative; top:5px; }
.das form .col.colLeft .formSection .formRow.formRowSlider .right { font-size:12px; float:right; margin-right:10px; position:relative; top:5px; }

.das form .col.colLeft .formSection.formSectionCalculate { background:#ccc; text-align:center; padding-bottom:0px; height:80px; }
.das form .col.colLeft .formSection.formSectionCalculate h2 { padding:10px; font-size:20px; line-height:30px; }
.das form .col.colLeft .formSection.formSectionCalculate .col { width:55%; }
.das form .col.colLeft .formSection.formSectionCalculate .col.result { width:45%; height:80px; position:relative; }
.das form .col.colLeft .formSection.formSectionCalculate .col.result.RemissionStatus { background-color:#b2d1a5; }
.das form .col.colLeft .formSection.formSectionCalculate .col.result.LowActivityStatus { background-color:#ced3b3; }
.das form .col.colLeft .formSection.formSectionCalculate .col.result.ModerateActivityStatus { background-color:#ebc5a0; }
.das form .col.colLeft .formSection.formSectionCalculate .col.result.HighActivityStatus { background-color:#f56d53; }
.das form .col.colLeft .formSection.formSectionCalculate .col.result .num { font-weight:bold; font-size:20px; position:absolute; top:20px; left:5px; right:5px; }
.das form .col.colLeft .formSection.formSectionCalculate .col.result .txt { font-size:11px; line-height:13px; position:absolute; bottom:5px; left:5px; right:5px; }

.das form .col.colRight { width:600px; }
.das form .col.colRight .overlay { background:transparent url(../gfx/overlay.png); position:absolute; width:590px; height:490px; position:absolute; left:5px; top:5px; z-index:9; cursor:not-allowed; }
.das form .col.colRight .mannequinBox { width:300px; position:relative; float:left; position:relative; text-align:center; }
.das form .col.colRight .mannequinBox h2 { text-align:center; margin-top:30px; }
.das form .col.colRight .mannequinBox button { margin:auto; position:relative; top:60px; }
.das form .col.colRight .mannequinBox .mannequin { width:282px; height:312px; background:#fff url(../gfx/mannequin2.png) center center no-repeat; position:relative; left:5px; top:35px; }
.das form .col.colRight .mannequinBox .mannequin input { position:absolute; }
.das form .col.colRight .mannequinBox .mannequin .t01 { left: 106px; top: 89px; }
.das form .col.colRight .mannequinBox .mannequin .t02 { left: 154px; top: 88px; }
.das form .col.colRight .mannequinBox .mannequin .t03 { left: 97px; top: 124px; }
.das form .col.colRight .mannequinBox .mannequin .t04 { left: 161px; top: 121px; }
.das form .col.colRight .mannequinBox .mannequin .t05 { left: 116px; top: 218px; }
.das form .col.colRight .mannequinBox .mannequin .t06 { left: 146px; top: 217px; }
.das form .col.colRight .mannequinBox .mannequin .t07 { left: 68px; top: 56px; }
.das form .col.colRight .mannequinBox .mannequin .t08 { left: 188px; top: 50px; }
.das form .col.colRight .mannequinBox .mannequin .t09 { left: 80px; top: 69px; }
.das form .col.colRight .mannequinBox .mannequin .t10 { left: 178px; top: 64px; }
.das form .col.colRight .mannequinBox .mannequin .t11 { left: 55px; top: 83px; }
.das form .col.colRight .mannequinBox .mannequin .t12 { left: 45px; top: 91px; }
.das form .col.colRight .mannequinBox .mannequin .t13 { left: 46px; top: 117px; }
.das form .col.colRight .mannequinBox .mannequin .t14 { left: 32px; top: 91px; }
.das form .col.colRight .mannequinBox .mannequin .t15 { left: 31px; top: 112px; }
.das form .col.colRight .mannequinBox .mannequin .t16 { left: 18px; top: 86px; }
.das form .col.colRight .mannequinBox .mannequin .t17 { left: 14px; top: 102px; }
.das form .col.colRight .mannequinBox .mannequin .t18 { left: 64px; top: 106px; }
.das form .col.colRight .mannequinBox .mannequin .t19 { left: 193px; top: 104px; }
.das form .col.colRight .mannequinBox .mannequin .t20 { left: 213px; top: 88px; }
.das form .col.colRight .mannequinBox .mannequin .t21 { left: 211px; top: 114px; }
.das form .col.colRight .mannequinBox .mannequin .t22 { left: 202px; top: 81px; }
.das form .col.colRight .mannequinBox .mannequin .t23 { left: 225px; top: 88px; }
.das form .col.colRight .mannequinBox .mannequin .t24 { left: 227px; top: 108px; }
.das form .col.colRight .mannequinBox .mannequin .t25 { left: 238px; top: 82px; }
.das form .col.colRight .mannequinBox .mannequin .t26 { left: 84px; top: 152px; }
.das form .col.colRight .mannequinBox .mannequin .t27 { left: 177px; top: 152px; }
.das form .col.colRight .mannequinBox .mannequin .t28 { left: 244px; top: 97px; }

.das form .col.colRight .mannequinBox .mannequin .s01 { left: 106px; top: 89px; }
.das form .col.colRight .mannequinBox .mannequin .s02 { left: 154px; top: 88px; }
.das form .col.colRight .mannequinBox .mannequin .s03 { left: 97px; top: 124px; }
.das form .col.colRight .mannequinBox .mannequin .s04 { left: 161px; top: 121px; }
.das form .col.colRight .mannequinBox .mannequin .s05 { left: 116px; top: 218px; }
.das form .col.colRight .mannequinBox .mannequin .s06 { left: 146px; top: 217px; }
.das form .col.colRight .mannequinBox .mannequin .s07 { left: 68px; top: 56px; }
.das form .col.colRight .mannequinBox .mannequin .s08 { left: 188px; top: 50px; }
.das form .col.colRight .mannequinBox .mannequin .s09 { left: 80px; top: 69px; }
.das form .col.colRight .mannequinBox .mannequin .s10 { left: 178px; top: 64px; }
.das form .col.colRight .mannequinBox .mannequin .s11 { left: 55px; top: 83px; }
.das form .col.colRight .mannequinBox .mannequin .s12 { left: 45px; top: 91px; }
.das form .col.colRight .mannequinBox .mannequin .s13 { left: 46px; top: 117px; }
.das form .col.colRight .mannequinBox .mannequin .s14 { left: 32px; top: 91px; }
.das form .col.colRight .mannequinBox .mannequin .s15 { left: 31px; top: 112px; }
.das form .col.colRight .mannequinBox .mannequin .s16 { left: 18px; top: 86px; }
.das form .col.colRight .mannequinBox .mannequin .s17 { left: 14px; top: 102px; }
.das form .col.colRight .mannequinBox .mannequin .s18 { left: 64px; top: 106px; }
.das form .col.colRight .mannequinBox .mannequin .s19 { left: 193px; top: 104px; }
.das form .col.colRight .mannequinBox .mannequin .s20 { left: 213px; top: 88px; }
.das form .col.colRight .mannequinBox .mannequin .s21 { left: 211px; top: 114px; }
.das form .col.colRight .mannequinBox .mannequin .s22 { left: 202px; top: 81px; }
.das form .col.colRight .mannequinBox .mannequin .s23 { left: 225px; top: 88px; }
.das form .col.colRight .mannequinBox .mannequin .s24 { left: 227px; top: 108px; }
.das form .col.colRight .mannequinBox .mannequin .s25 { left: 238px; top: 82px; }
.das form .col.colRight .mannequinBox .mannequin .s26 { left: 84px; top: 152px; }
.das form .col.colRight .mannequinBox .mannequin .s27 { left: 177px; top: 152px; }
.das form .col.colRight .mannequinBox .mannequin .s28 { left: 244px; top: 97px; }

.das form .formula { width:100%; margin:5px; background:#ddd; height:25px; }
.das form .formula p { padding:5px; }
















